body,
body > * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(236, 194, 115);
}

.container {
  min-height: 100vh;
  background-color: rgb(236, 194, 115);
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

h1,
h2,
h2,
span,
p {
  margin: 0;
}

#root {
  height: 100%;
  display: grid;
  grid-row-gap: 3vh;
  justify-items: center;
}
