*{
  background-color: #fcd404;
 
}

p {
  background-color: white;
}

input {
  background-color: blanchedalmond;
}

.main-head {
    grid-area: header;
    background-color: white;
  }
  .content {
    grid-area: content;
    background-color:  white;
   
  }
  
  .side {
    grid-area: sidebar;
    background-color:  white;
  }
  .ad {
    grid-area: ad;
    background-color:  white;
  }
  .main-footer {
    grid-area: footer;
    background-color: white;
  }

  .button{
    
      height:60px;
      width:80px;
      align-items: center;
      background-color: orange;
  
  }


  .wrapper {
    display: grid;
    gap: 20px;
    grid-template-areas: 
      "header"
      "content"
      "sidebar"
      "ad"
      "footer";
  }

  @media (min-width: 400px) {
    .wrapper {
      grid-template-columns: 1fr 3fr;
      grid-template-areas: 
        "sidebar  header"
        "sidebar content"
        "ad content"
        "footer footer";

      
    }

    *{
      font-size: medium;
    }
   
  }



  @media (min-width: 750px) {
    .wrapper {
      grid-template-columns: 1fr 3fr;
      grid-template-areas: 
        "header  header"
        "sidebar content"
        "ad      footer";

        
    }
    *{
      font-size: large;
    }
  
  }


